.body {
    background:#cfe7f5;
    font-family: "Arial";
    color: #1b3c63;
    font-size: 14px;
}
a {
    color: #868686; 
}
a:hover {
    color: #5a92d7;
}
a:active {
     color: #2a78bc;
}
#main-nav li {
    list-style: none;
    float: left;
    margin: 10px 10px
       
}
#content-inner {
    padding:10px 50px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

#footer {
  padding: 0px 50px;       
}
#friends > li {
    margin: 10px;
    
}
.friend ul li {
    list-style: none;
    padding: 10px 0 10px 0;
}
